<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link"
  >Skip to main content</a
>

<header>
  <div class="govuk-generic-header" style="background-color: #1d70b8">
    <div
      class="govuk-generic-header__container govuk-width-container"
      style="
        border-bottom: 1px solid var(--govuk-surface-border-colour, #8eb8dc);
      "
    >
      <div
        class="govuk-!-padding-bottom-2 govuk-!-padding-top-2"
        style="display: flex; align-items: center"
      >
        <svg
          width="40"
          height="42.5"
          viewBox="0 0 28 30"
          fill="currentColor"
          class="govuk-!-margin-right-2"
          aria-hidden="true"
        >
          <rect x="2.8" y="11.5" width="2.1" height="7" rx="1.05" />
          <rect x="7.875" y="8.875" width="2.1" height="12.25" rx="1.05" />
          <rect x="12.95" y="6.25" width="2.1" height="17.5" rx="1.05" />
          <rect x="18.025" y="8.875" width="2.1" height="12.25" rx="1.05" />
          <rect x="23.1" y="11.5" width="2.1" height="7" rx="1.05" />
        </svg>
        <a href="/" class="govuk-generic-header__homepage-link">Minute</a>
      </div>
    </div>
  </div>
</header>
