<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link"
  >Skip to main content</a
>

<header>
  <div class="govuk-generic-header" style="background-color: #1d70b8">
    <div
      class="govuk-generic-header__container govuk-width-container"
      style="
        border-bottom: 1px solid var(--govuk-surface-border-colour, #8eb8dc);
      "
    >
      <div class="govuk-!-padding-bottom-2">
        <img
          src="/logos/iAI-logo.png"
          alt="i.AI"
          class="govuk-!-margin-right-2"
          style="width: 40px; height: 42.5px; vertical-align: middle"
        /><a
          href="/"
          class="govuk-generic-header__homepage-link"
          style="vertical-align: bottom"
          >Minute</a
        >
      </div>
    </div>
  </div>
</header>
