.govuk-width-container {
  max-width: 1200px !important;
}

@media (min-width: 1020px) {
  .govuk-width-container {
    margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
  }
}

@media (min-width: 1500px) {
  .govuk-width-container {
    margin-right: auto;
    margin-left: auto;
  }
}
